@import '../../../breakpoints/breakpoints.scss';


.header{
  position: fixed;
  top:0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  z-index: 10;

  @include media('<=tablet') {
    padding-top: 5vmin;
    padding-bottom: 2.5vmin;
    z-index: 10;
  }
  @include media('<=laptop'){
  }
}

.header > img{
  width: 4vmin;
  position: absolute;
  cursor: pointer;
  left:5vmin;
  top:3vmin;
  opacity: .8;
  transition: var(--basic-transiton) all;
  @include media('<=tablet') {
    width: 9vmin;
    left:2.75vmin;
    top:5vmin;
    opacity: 1;
  }
}

.header > img:hover{
  transform: scale(1.15);
  opacity: 1;

}

.header > span{
  display: inline-block;
  font-family: 'Tilt Prism', cursive;
  font-size: 10vmin;
  color:white;
  @include media('<=tablet') {
    font-size: 14.5vmin;
  }
}

.header > .line{
  width:97%;
  height: .4vmin;
  margin-top: 1vmin;
  background-color: #fe6d73;
  border-radius: 12px;
  @include media('<=tablet'){
    height: 1.2vmin;
  }
}