@import '../../breakpoints/breakpoints.scss';

@keyframes panning-anim {
  0%{
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}

.title-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  --card-height: 75vmin;
  @include media('<=tablet'){
    flex-direction: column-reverse;
    gap:2vmin;
    height: 100vh;
  }
  @include media('<=laptop'){
    flex-direction: column-reverse;
    gap:2vmin;
    overflow: auto;
    height: calc(100vh - 18vmin);
  }

}
.title-container > .line{
  
  height: calc(var(--card-height) + 3vmin);
  width: .2vmin;
  background-color: white;
  
  @include media('<=laptop'){
    width: 100%;
    height:.2vmin;
    margin: 3vmin 0;
    display:none;
  }

}


.card{
  position: relative;
  height: var(--card-height);
  flex-basis: 47%;
  box-sizing: border-box;
  border: 2px white solid;

  @include media('<=tablet'){
    width: 100%;
    height: calc(var(--card-height) - 3vmax);
    aspect-ratio: 371/353;
    border: 3.5px white solid;
    flex: 1;
  }
  @include media('<=phone'){
    height: calc(var(--card-height) + 0vmax);
    flex: 1;

  }
}

.card > .card-container{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding:2.25vmin 3.25vmin;
}

.card-container > .title{
  @include media('<=tablet') {
    font-size: 8vmin;
    font-weight: 400;
    // padding-bottom: 1vmin;
  }
  font-size: 3.75vmin;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  color: white;
}

.left > .card-container > .story-container{
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  padding:1.5vmin 0;
  @include media('<=tablet') {
    flex:1;
    height:36vmax;
    margin-top: 5vmin;
  }
  overflow: auto;
}

.story-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  gap:1.3vmin;

  @include media('<=tablet') {
    align-items: center;
    justify-content: center;
    gap:2.2vmax;
    overflow: auto;
    width: 90%;
  }
}

.story{
  width: 12.8vmax;
  height: auto;
  aspect-ratio: 1;
  opacity: .6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  box-sizing: border-box;
  transition: var(--basic-transiton) all;
  @include media('<=tablet') {
    width:16.5vmax;
    opacity: 1;
    
  }
  @include media('<=phone') {
    width:10vmax;
  }
  @include media('<=laptop'){
    width:30vmin;
  }
} 

.story:hover, .forcehover{
  opacity: .98;
}

.forcehover ~ .story:hover{
  opacity: .6;
}

.story:hover:has(~ .forcehover){
  opacity: .6;
}




.right > .card-container > .image{
  width:100%;
  height: 30vmin;
  margin-top:1.25vmin;
  background: url('../../../public/images/story-banner/playarea.png') center/cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  animation: panning-anim 85s infinite ease-in;
  @include media('<=tablet'){
 
  }
}

.right > .card-container > .expand{
  position: absolute;
  right:3.25vmin;
  top:2.5vmin;  
  @include media('<=tablet'){
    top:3.75vmin;  
  }
}

.expand > img{
  width: 5vmin;
  transition: var(--basic-transiton) all;
  @include media('<=tablet'){
    width: 10.25vmin;
  }
}

.expand > img:hover{
  transform: scale(1.15);
}

.right > .card-container > .text {
  height:32vmin;
  overflow: hidden;
  margin-top: 3.7vmin;
  @include media('<=tablet'){
    height:38vmin;
    overflow: auto;
  }

}

.right > .card-container > .text > span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 1.5vmax;
  @include media('<=tablet'){
    font-size: 2.5vmax;
  }
  @include media('<=phone'){
    font-size: 1.5vmax;
  }
  
}

.opened-story{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #101010FA;
  border: 2px white solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:1.5vmin 2vmin;
  box-sizing: border-box;
  right:0;
  @include media('<=tablet'){
    flex-direction: column;
    justify-content: flex-start;
  }
}

.opened-story > .line{
  height: calc(var(--card-height) - 2vmin);
  width: .2vmin;
  @include media('<=tablet'){
    width:100%;
    height: .2vmin;
  }
  background-color: white;
}


.opened-story > .card{
  border: none;
}

.opened-story > .collapse{
  position: absolute;
  z-index: 2;
  right:3vmin;
  top:1vmin
}

.collapse > img{
  width: 5vmin;
  transition: var(--basic-transiton) all;
}

.collapse > img:hover{
  transform: scale(1.15);
}

.opened-story .card{
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes close-story {
  0%{
    width: 100%;
    height: 100%;
  }
  100%{
    height:var(--card-height);
    width: 47%;
    opacity: 0;
  }
}

@keyframes open-story {
  0%{
    height:var(--card-height);
    width: 47%;
    opacity: 0;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}

.opened-story[data-status='opening']{
  animation: open-story 450ms linear;

}

.opened-story[data-status='closing']{
  animation: close-story 450ms linear;
  height:var(--card-height);
  width:47%;
  transition: .2s all;
}

.opened-story[data-status='closing'] > *{
  opacity: 0;
  display: none;
}

.opened-story .text-container{
  width:90%;
  height:90%;
  padding-right: 4vmin;
  padding-left: 1vmin;
  text-indent: 2vmin;
  background-color: #1E1E1E90;
  overflow: auto;
  @include media('<=tablet'){
    border:2px solid #ffffffa0;
    text-indent: 6vmin;
  }
}

.opened-story .text-container > span{
  font-size: 3vmin;
  line-height: 170%;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  white-space: pre-wrap;
  @include media('<=tablet'){
    font-size:5vmin;
  }
}

.opened-story > .left{
  @include media('<=desktop'){
    
  }
}

.opened-story > .left > .left-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding:0 2.7vmin;
  @include media('<=tablet'){

  }
}


.opened-story > .left > .left-container > span{
  font-size: 5.35vmin;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: white;
  margin-bottom: 1vmin;
  @include media('<=tablet'){
    font-size:7vmax;
  }
}

.left-container > .banner-container{
  position: relative;
  height:22vmax;
  aspect-ratio: 709/407;
  box-sizing: border-box;
  @include media('<=tablet'){
    height: 20vmax;
    width: 100%;
  }
}

.banner-container > .banner{
  width: 100%;
  height: 100%;
  background: url('../../../public/images/story-banner/playarea.png') center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
}

.banner-container > .date{
  width: 100%;
  height:3vmin;
  margin-top: .5vmin;
  color: white;
  text-align: right;
  font-size: 2.8vmin;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  @include media('<=tablet'){
   font-size:3.5vmin; 
  }
}

.author-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5vmin;
  @include media('<=tablet'){
    padding-top:5vmin;
  }
}

.author-container > .author-icon{
  width:20vmin;
  height: auto;
  aspect-ratio: 1;
  background: url('../../../public/images/author/drake.png') center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  @include media('<=tablet'){
    width: 25vmin;
  }
  @include media('<=laptop'){
    width:17vmin;
  }
}

.author-container {
  margin-top: 3vmin;
  padding-bottom: 2vmin;
}


.author-container > .author-details-container > h2{
  margin: 0;
  font-size: 5.9vmin;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  color: white;
  @include media('<=tablet'){
    font-size: 7vmin;
  }
  @include media('<=laptop'){
    font-size:5vmin;
  }
  
}

.author-container > .author-details-container > span{
  display: inline-block;
  margin: 0;
  width: 44vmin;
  font-size: 3vmin;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  color: white;
  @include media('<=tablet'){
    font-size:4.5vmin;
    font-weight: 400;
    width:60vmin;
  }
  @include media('<=laptop'){
    width:22vmin;
    font-size: 2.5vmin;
  }
}