@import '../../breakpoints/breakpoints.scss';

$animation-timer:350ms;

@keyframes images-loading {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.98);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes rotating {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

}

@keyframes finished-loading-text {
  0%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(0, 50%);

  }
}

@keyframes finished-loading-images {
  0%{
    transform: translate(0, 0);
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100%{
    transform: translate(0, -50%);

  }

}

@keyframes finished-loading-content {
  0%{
    transform: translateY(-70%) scale(1);
    opacity: 1;
  }
  100%{
    transform: translateY(-70%) scale(5);
    opacity: 0;
  }
}



.loading{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  z-index: 20000;
  transition: $animation-timer all;
  cursor: default;
  &.animate{
    opacity: 0;
  }
}


.content{
  position: absolute;
  top:50%;
  transform: translateY(-70%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.animate{
    animation: finished-loading-content $animation-timer ease-in;
  }
}

.content > .text{
  transition: 250ms all;
  &.animate{
    animation-delay: 1s;  
    transform: translate(0, 50%);
    animation: finished-loading-text $animation-timer ease-in;
  }

}

.content > .text > span{
  display: inline-block;
  font-family: 'Tilt Prism', cursive;
  font-size: 19.7vmin;
  color:white;
  user-select: none;
}

.content > .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 250ms all;

  &.animate{  
    animation-delay: 1s;
    opacity: 0;
    
    animation: finished-loading-images $animation-timer ease-in;
  }
}

.images > .dot{
  width:5vmin;
  height: 5vmin;
  color: #fef3ef;
  margin:0 2.5vmin;
  animation: rotating 5s infinite linear;
}

.images > .img-block{
  width:13vmax;
  height:auto;
  aspect-ratio: 383 / 334;
  background: url("../../../public/images/intro/image.png");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  outline:.25vmin solid white;
  animation: images-loading 5s infinite ease-in-out;
  @include media('<=laptop')  {
    background-size: contain;
    background-position: 50% !important;
    width:18vmax;
  }
  @include media('<=tablet'){
    background-size: contain;
    background-position: 50% !important;
    width:11.5vmax;
  }
}

.images > .img-block:nth-child(3){
  background: url("../../../public/images/intro/image-1.png");
  animation-delay: 2.5s;
}

.images > .img-block:nth-child(5){
  background: url("../../../public/images/intro/image-2.png");
  animation-delay: 5s;

}

