@import './breakpoints/breakpoints.scss';


:root{
  --bg-color:#101010;
  --scrollbar-width:.5vmin;
  --basic-transiton:250ms;
  cursor: none;
}

body {
  background-color: var(--bg-color);
  padding:0;
  margin:0;
  overflow-y: hidden;
}

.wrapper{
  padding-top: 16vmin;
  padding-left:2%;
  padding-right: 2%;
  overflow-x: hidden;
  @include media('<=tablet'){
    overflow-x:scroll;
    padding-top: 0vmin;
    margin-top: 30vmin;
    // height:90vh;
    
  }
}

::-webkit-scrollbar{
  width:var(--scrollbar-width);
  @include media('<=tablet'){
    width:calc(var(--scrollbar-width) + .4vmax);
  
  }
}

::-webkit-scrollbar-thumb{
  background-color: #EAE9CC;
  width:var(--scrollbar-width);
  @include media('<=tablet'){
    width:calc(var(--scrollbar-width) + 2vmax);
  
  }
  border-radius: 25px;
}

#trailer{
  position: fixed;
  top:0;
  left:0;
  width: 4vmin;
  height: 4vmin;
  background-color: #fef3eff9;
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media('<=tablet'){
    display: none;
  }
}

#trailer > i {
  margin:0 auto;
  font-size: 2vmin;
  transition: 125ms all;
  color:black;
}

#trailer[data-status='off'] > i{
  opacity: 0;
}

#trailer[data-status='on'] {
  background-color: #fef3eff0;

}